<div class="bg-[../../assets/REGISTER BG.png] bg-cover bg-center flex justify-center items-center h-screen">
    <div class="bg-white bg-opacity-50 p-8 rounded-lg w-96 text-left">
      <h2 class="text-2xl font-semibold">Register</h2>
      <form class="mt-8" (ngSubmit)="register()" #registerForm="ngForm">
        <div class="mb-4">
          <label for="firstName" class="block font-medium">First Name:</label>
          <input type="text" [(ngModel)]="registerData.firstName" id="firstName" name="firstName" class="w-full px-4 py-2 border border-gray-300 rounded-md" required>
        </div>
        <div class="mb-4">
          <label for="lastName" class="block font-medium">Last Name:</label>
          <input type="text" [(ngModel)]="registerData.lastName" id="lastName" name="lastName" class="w-full px-4 py-2 border border-gray-300 rounded-md" required>
        </div>
        <div class="mb-4">
          <label for="email" class="block font-medium">Email:</label>
          <input type="email" [(ngModel)]="registerData.email" id="email" name="email" class="w-full px-4 py-2 border border-gray-300 rounded-md" required>
        </div>
        <div class="mb-4">
          <label for="password" class="block font-medium">Password:</label>
          <input type="password" [(ngModel)]="registerData.password" id="password" name="password" class="w-full px-4 py-2 border border-gray-300 rounded-md" required>
        </div>
        <div class="mb-4">
          <label for="retypePassword" class="block font-medium">Retype Password:</label>
          <input type="password" [(ngModel)]="registerData.retypePassword" id="retypePassword" name="retypePassword" class="w-full px-4 py-2 border border-gray-300 rounded-md" required>
        </div>
        <button type="submit" class="bg-gray-800 text-white px-4 py-2 rounded-md cursor-pointer">Login</button>
          
        <div class="mt-6">Already have an account? <a href="/login" class="text-blue-500">Login</a></div>
      </form>
    </div>
  </div>
  